@import "../../styles.scss";

.reportpaneWrapper {
  display: block;
  position: absolute;
  @media print {
    top: 0;
  }
  @media screen {
    top: 48px;
  }
  width: 100%;
  overflow: hidden;

  & #pageLogo {
    @media print {
      display: block;
      max-width: 200px;
      text-align: center;
      margin: 0 auto 0 auto;
    }
    @media screen {
      display: none;
    }
  }

  & #exportControl {
    @media print {
      display: none;
    }

    margin: 24px auto 0 auto;
    text-align: center;

    & .outputButton {
      height: 36px;
    }
  }

  & #reportWrapper {
    @media print {
      margin: 8px auto 0 auto;
    }
    @media screen {
      margin: 24px auto 0 auto;
    }
    max-width: 800px;
    border-top: solid 2px $dark-gray;
    border-bottom: solid 2px $dark-gray;
    & .header {
      text-align: center;
      padding-top: 5px;
    }
    & p{
      @include textlight(12px, $dark-gray);
      border: none;
      margin-top: 2px;
    }

    & #tableWrapper {
      margin-top: 10px;
      border-top: solid 1px $dark-gray;
      // border-bottom: solid 1px blue;
      & table {
        margin-left: auto;
        margin-right: auto;
        border-bottom: solid 1px $dark-gray;
      }
      & .tableHeaders {
        border-bottom: solid 1px $dark-gray;
      }
      & td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        & mat-list {
          padding: 0;
          margin: 0;
          & p {
            margin: 0;
            &.maxState {
              float: right;
            }
          }

          & mat-list-item {
            color: $dark-gray;
            padding: 0;
            margin: 0;
            height: 20px;
            & p {
              margin: 0;
            }
          }
        }
      }
    }
    & #logoWrapper {
      margin: 10px 0 10px 0;
      width: 100%;
      & tr {
        & td {
          height: 40px;
          vertical-align: middle;

          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
          & img {
            height: 100%;
            &#urlLogo {
              height: 75%;
            }
          }
        }
      }
    }
  }
}
