@import "../../styles.scss";

#pageLogo {
  @media print {
    display: block;
    max-width: 200px;
    text-align: center;
    margin: 0 auto 0 auto;
  }
  @media screen {
    display: none;
  }
}

#reportWrapper {
  @media print {
    margin: 8px auto 0 auto;
  }

  @media screen {
    margin: 24px auto 0 auto;
  }

  max-width: 800px;
  border-top: solid 2px $dark-gray;
  border-bottom: solid 2px $dark-gray;

  & .header {
    text-align: center;
    padding-top: 5px;
  }

  & #tableWrapper {
    margin-top: 10px;

    & table {
      margin-left: auto;
      margin-right: auto;
      border-bottom: solid 1px $dark-gray;
    }

    & .tableHeaders {
      border-bottom: solid 1px $dark-gray;
    }

    & td {
      padding: 10px;
      text-align: center;
    }
  }

  & #logoWrapper {
    margin: 10px 0 10px 0;
    width: 100%;

    & tr {
      & td {
        height: 40px;
        vertical-align: middle;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }

        & img {
          height: 100%;
          &#urlLogo {
            height: 75%;
          }
        }
      }
    }
  }
}

#exportControl {
  @media print {
    display: none;
  }

  margin: 10px auto 0 auto;
  text-align: center;

  & .outputButton {
    height: 30px;
    margin-top: 5px;
  }
}
