<div id="rangeWrapper">
  <div id="rangeBase">
    <div id="rangeFill">
    </div>
  </div>

  <button mat-raised-button
    class="rangeKnob"
    id="knobUpper"
    (mousedown)="touchStart($event)">
  </button>
  <button mat-raised-button
    class="rangeKnob"
    id="knobLower"
    (mousedown)="touchStart($event)">
  </button>

  <p
    class="knobHoverText"
    id="knobUpperHover"
    [style.opacity]="isSliderActive ? 1 : 0.4">
    {{markings[knobStep.knobUpper].mark}}
  </p>
  <p
    class="knobHoverText"
    id="knobLowerHover"
    [style.opacity]="isSliderActive ? 1 : 0.4">
    {{markings[knobStep.knobLower].mark}}
  </p>
</div>
