#adsContentWrapper {
  color: white;
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  .adContainer {
    // float: left;
    flex: 0 0 auto;
    margin-left: 10px;
  }
}
