#adsContentWrapper {
  color: white;
  height: 250px;
  overflow-y: scroll;
  display: -webkit-flex; /* Safari */
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  .adContainer {
    // float: left;
    // flex: 0 0 auto;
    margin-left: 10px;
  }
}
