<div id="chartsMenu">
  <button
    *ngFor="let type of chartTypes"
    [id]="type.id + 'Button'"
    [class]="type.class + ' mat-body-1'"
    (click)="changeCenter(type.center, type.zoom)"
    (click)="changeChart($event)">
    {{ 'chart_menu.' + type.id | translate }}
  </button>
</div>

<div id="activityWrapper" class="charts">
  <app-activity-chart
    *ngIf="(reportsData.length || floodsData.length) && tableService.selectedChart==='activity'"
    [reportsData]="reportsData"
    [floodsData]="floodsData"
    [scaleLimits]="scaleLimits">
  </app-activity-chart>
</div>

<div id="sourceWrapper" class="charts">
  <app-source-chart
    *ngIf="(reportsSource && reportsSource.aggregates.length) && tableService.selectedChart==='source'"
    [reportsSource]="reportsSource">
  </app-source-chart>
</div>

<div id="jakartaWrapper" class="charts">
  <app-jakarta-chart
    *ngIf="(reportsData.length || floodsData.length) && tableService.selectedChart==='jakarta'"
    [jakartaData]="jakartaData"
    [floodsData]="floodsData"
    [scaleLimits]="scaleLimits">
  </app-jakarta-chart>
</div>
