@import "../../../styles.scss";

#chartsMenu {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid white;
  padding-left: 15px;
  margin-bottom: 10px;
  & .tabButton {
    height: 33px;
    border: none;
    border-right: 1px solid $snow-white;
    border-bottom: 1px solid $snow-white;
    border-top: 1px solid $snow-white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &:first-of-type {
      border-left: 1px solid $snow-white;
    }
    cursor: pointer;
    background-color: $dark-gray;
    color: $snow-white;
    outline: none;
    &:hover {
      color: $banjir-blue;
    }
    &.selected {
      border-bottom: 1px solid $dark-gray;
      color: $banjir-blue;
    }
  }
}

.charts {
  width: 100%;
  height: 255px;
  padding-left: 10px;
}

#sourceWrapper {
  display: none;
}

#jakartaWrapper {
  display: none;
}

#activityWrapper {

}
