<div id="chartsMenu">
  <button
    *ngFor="let type of chartTypes"
    [id]="type.id + 'Button'"
    [class]="type.class"
    (click)="changeChart($event)">
    {{type.title}}
  </button>
</div>

<div id="activityWrapper" class="charts">
  <app-activity-chart
    *ngIf="(reportsData.length || floodsData.length) && selectedChart==='activity'"
    [reportsData]="reportsData"
    [floodsData]="floodsData"
    [scaleLimits]="scaleLimits">
  </app-activity-chart>
</div>

<div id="sourceWrapper" class="charts">
  <app-source-chart>
  </app-source-chart>
</div>
