<mat-form-field id="startDateWrapper" class="dateWrapper altTheme">
  <input matInput
    [matDatepicker]="startDatePicker"
    placeholder="Start Date"
    [(value)]="startDate"
    [min]="dateLimits.start.min"
    [max]="dateLimits.start.max"
    (dateChange)="dateInteraction('start', $event, false)">
  <mat-datepicker-toggle
    matSuffix
    [for]="startDatePicker">
  </mat-datepicker-toggle>
  <mat-datepicker
    #startDatePicker>
  </mat-datepicker>
</mat-form-field>

<app-range
  *ngIf="enableSlider"
  [knobStep]="knobStep"
  [markings]="dateTimeMarks"
  [rangeSettings]="rangeSettings"
  (rangeChanged)="updateRange($event)">
</app-range>

<mat-form-field id="endDateWrapper" class="dateWrapper altTheme">
  <input matInput
    [matDatepicker]="endDatePicker"
    placeholder="End Date"
    [(value)]="endDate"
    [min]="dateLimits.end.min"
    [max]="dateLimits.end.max"
    (dateChange)="dateInteraction('end', $event, false)">
  <mat-datepicker-toggle
    matSuffix
    [for]="endDatePicker">
  </mat-datepicker-toggle>
  <mat-datepicker
    #endDatePicker>
  </mat-datepicker>
</mat-form-field>
