<input id="dateSelector" type="date" [value]="selectedDate" (change)="dateChanged($event, false)">
<div id="hintWrapper" *ngIf="refreshingLayers.reports && refreshingLayers.floodAreas; then thenBlock else elseBlock">
</div>
<ng-template #thenBlock>
  <p>Loading...</p>
</ng-template>
<ng-template #elseBlock>
  <p *ngIf="!reports">Select date</p>
  <p *ngIf="reports">Select range</p>
</ng-template>

<app-range
  *ngIf="enableSlider"
  [knobStep]="knobStep"
  [markings]="dateTimeMarks"
  [rangeSettings]="rangeSettings"
  (rangeChanged)="updateRange($event)">
</app-range>
