<div id="reportStats">
  <mat-spinner
    diameter="38"
    color="accent"
    *ngIf="isRefreshing">
  </mat-spinner>
  <p
    *ngIf="!isRefreshing"
    class="mat-headline">
    {{reportsCount}}
  </p>
  <p class="mat-body-1">
    {{ 'stats.reports' | translate }}
  </p>
</div>

<div id="areaStats">
  <mat-spinner
    diameter="38"
    color="accent"
    *ngIf="isRefreshing">
  </mat-spinner>
  <p
    *ngIf="!isRefreshing"
    class="mat-headline">
    {{floodAreasCount}}
  </p>
  <p class="mat-body-1">
    {{ 'stats.areas' | translate }}
  </p>
</div>

<p id="disclaimer" class="mat-caption">
{{ 'note' | translate }}
</p>
