@import "../styles.less";

#navBar {
  background-color: @steel-gray;
  & #logoBar {
    & p {
      margin: 6px 0 0 0;
      .textlight-mixin(18px, @snow-white);
    }
  }
  & #linksBar {
    padding-top: 10px;
    .textlight-mixin(14px, @snow-white);
    text-align: right;
    & a {
      .textlight-mixin(14px, @snow-white);
      &:hover {
        color: @light-gray;
      }
    }
  }
}

.dashboard-wrapper {

}
