@import "../styles.scss";

#navBar {
  @media print {
    display: none;
  }

  position: fixed;
  top: 0;
  min-height: 48px;
  z-index: 1000;

  & mat-toolbar-row {
    height: 100%;
    background-color: $dark-gray;

    & #logoBar {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 4px;
      margin-left: 10px;

      & img {
        width: 150px;
        float: left;
      }

      & #iconSubtext {
        float: left;
        margin: 27px 0 0 10px;
        padding-left: 10px;
        border-left: solid 1px $snow-white;
        @include textlight(12px, $snow-white);
        line-height: 16px;
      }
    }

    & #linksBar {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      padding-top: 10px;
      text-align: right;

      & #langMenu {
        margin-top: -2px;
        margin-left: 10px;
        float: right;
        width: 80px;
        font-size: 12px;
        height: 38px;
      }

      & a {
        @include textlight(12px, $snow-white);
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: mat-color($mat-light-blue, 300);
          text-decoration: none;
        }
        &.active {
          color: mat-color($mat-light-blue, 300);
        }
      }
    }
  }
}

#dashboardWrapper {
  position: absolute;
  top: 48px;
  width: 100%;
  overflow: hidden;
}
