<mat-toolbar id="navBar">
  <mat-toolbar-row>
    <img src="/assets/logo.svg" id="logoBar">

    <div id="linksBar">
      <p *ngIf="auth.isAuthenticated(); then thenBlock else elseBlock">
      </p>

      <ng-template #thenBlock>
        <a routerLink="/" routerLinkActive="active">Home</a>
        &nbsp;&#124;&nbsp;
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        &nbsp;&#124;&nbsp;
        <a (click)="auth.logout()">Log Out</a>
      </ng-template>

      <ng-template #elseBlock>
        <a (click)="auth.login()">Log In</a>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dashboard-wrapper">
  <router-outlet></router-outlet>
</div>
