<mat-toolbar id="navBar">
  <mat-toolbar-row>
    <div id="logoBar">
      <img src="assets/images/petaLogo.svg">
      <p>&nbsp;&nbsp;&#124;&nbsp;Analytics&nbsp;dashboard</p>
    </div>

    <div id="linksBar">
      <p *ngIf="auth.isAuthenticated(); then thenBlock else elseBlock">
      </p>

      <ng-template #thenBlock>
        <a routerLink="/">Home</a>
        &nbsp;&#124;&nbsp;
        <a routerLink="/dashboard">Dashboard</a>
        &nbsp;&#124;&nbsp;
        <a (click)="auth.logout()">Log Out</a>
      </ng-template>

      <ng-template #elseBlock>
        <a (click)="auth.login()">Log In</a>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="#dashboardWrapper">
  <router-outlet></router-outlet>
</div>
