@import "../styles.scss";

#navBar {
  @media print {
    display: none;
  }

  min-height: 48px;

  & mat-toolbar-row {
    height: 100%;
    background-color: $dark-gray;

    & #logoBar {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 4px;
      margin-left: 10px;

      & img {
        width: 150px;
        float: left;
      }
      & p {
        @include textlight(12px, $snow-white);
        margin: 0;
        margin-top: 27px;
        padding: 0;
        float: left;
        line-height: 16px;
      }
    }

    & #linksBar {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      padding-top: 10px;
      @include textlight(14px, $snow-white);
      text-align: right;

      & a {
        @include textlight(14px, $snow-white);
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: mat-color($mat-light-blue, 300);
          text-decoration: none;
        }
        &.active {
          color: mat-color($mat-light-blue, 300);
        }
      }
    }
  }
}

#dashboardWrapper {
  position: absolute;
  top: 48px;
  width: 100%;
}
