@import "../styles.scss";

#navBar {
  min-height: 42px;

  & mat-toolbar-row {
    height: 100%;

    & #logoBar {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      width: 180px;
    }

    & #linksBar {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      padding-top: 10px;
      @include textlight(14px, $snow-white);
      text-align: right;

      & a {
        @include textlight(14px, $snow-white);
        &:hover {
          color: $light-gray;
        }
      }
    }
  }
}

.dashboard-wrapper {

}
