<mat-toolbar id="navBar" color="background">
  <mat-toolbar-row>
    <div id="logoBar">
      <a id="homeLink" href="https://petabencana.id">
        <img src="assets/images/petaLogo.svg">
      </a>
      <p id="iconSubtext">{{ 'logo_title' | translate }}</p>
    </div>

    <div id="linksBar">
      <mat-form-field id="langMenu">
        <mat-select
          placeholder="Language"
          (change)="changeLanguage($event)"
          [(value)]="selectLang">
          <mat-option
            *ngFor="let lang of languages"
            [value]="lang.code">
              {{ lang.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p *ngIf="auth.isAuthenticated(); then thenBlock else elseBlock">
      </p>

      <ng-template #thenBlock>
        <a id="dashboardLink" routerLink="/dashboard" routerLinkActive="active">{{ 'nav_buttons.dashboard' | translate }}</a>
        &nbsp;&#124;&nbsp;
        <a id="logoutLink" (click)="auth.logout()">{{ 'nav_buttons.log_out' | translate }}</a>
      </ng-template>

      <ng-template #elseBlock>
        <a (click)="auth.login()">{{ 'nav_buttons.log_in' | translate }}</a>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div id="#dashboardWrapper">
  <router-outlet></router-outlet>
</div>
