@import "../../../../styles.scss";


.adCreativeWrapper {
  width: 20%;
  min-width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: solid 1px $frost-white;
  border-radius: 5px;

  & .active {
     background-color: $frost-white;
   }

  & .adCreativeImage {
    height: 75px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & #messageContainer {
    width: 180px;
    height: 75px!important;
    height: 150px;
    overflow: auto;
    @include textlight(10px, $snow-white);
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;

  }

  & button {
    border-radius: 0.317rem;
    width: 150px;
    height: 30px;
      background-color: $light-gray;
      @include textmedium(12px, $banjir-blue);
      cursor: pointer;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  & button:hover {
    opacity: 0.85;
  }

  & button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
  }

  & button:focus {
    outline: thin dotted #444;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  & button:disabled {
    background-color: $steel-gray;
    color: $snow-white;
  }
}
