<div class="container-fluid" id="mapWrapper">
  <app-map #map></app-map>
</div>

<div class="container-fluid" id="sliderWrapper">
  <app-slider [map]="map.map" [floodAreas]="map.floodAreas"></app-slider>
</div>

<div class="container-fluid" id="analyticsWrapper">
  <div class="row">
    <div class="col-12 col-md-8" id="chartsWrapper">
      <app-charts [someValue]="someValue" [otherValue]="otherValue"></app-charts>
    </div>
    <div class="col-12 col-md-4" id="statsWrapper">
      <app-stats #stat [statVal]="someValue"></app-stats>
    </div>
  </div>
</div>
