<div id="mapWrapper">
  <app-map
    (finishedLoading)="slider.initData()"
    #map>
  </app-map>

  <div id="legendWrapper">
    <app-legend>
    </app-legend>
  </div>
</div>

<div id="sliderWrapper">
  <app-slider
    [map]="map.map"
    [floodAreas]="map.floodAreas"
    (drawChart)="chart.drawChart($event)"
    (updateChart)="chart.updateChart($event)"
    (updateChartScale)="chart.updateScale($event)"
    #slider>
  </app-slider>
</div>

<div id="analyticsWrapper">
  <div id="chartsWrapper">
    <app-charts
      [map]="map.map"
      [reportsSource]="slider.reportsSource"
      (updateStats)="slider.updateStats($event)"
      #chart>
    </app-charts>
  </div>

  <div id="statsWrapper">
    <div id="reportTools">
      <a
        *ngIf="!slider.generatingTableData && slider.reports"
        class="mat-body-1"
        [routerLink]="['/report']"
        [queryParams]="{
          updated: slider.lastAreaUpdate
        }">
        {{ 'chart_legend.generate_button' | translate }}
      </a>
      <mat-spinner
        id="spinner"
        diameter="26"
        color="accent"
        *ngIf="!slider.reports || slider.generatingTableData">
      </mat-spinner>
    </div>

    <app-stats
      [isRefreshing]="slider.refreshingStats.reports || slider.refreshingStats.floodAreas"
      [floodAreasCount]="slider.floodAreasCount"
      [reportsCount]="slider.reportsCount">
    </app-stats>
  </div>
</div>
