@import "../../styles.less";

#mapWrapper {
  height: 640px;
}

#sliderWrapper {
  height: 40px;
}

#chartsWrapper {
  background-color: red;
  height: 280px;
}

#statsWrapper {
  background-color: green;
  height: 280px;
}
