@import "../../styles.scss";

#mapWrapper {
  height: 700px;
}

#sliderWrapper {
  position: absolute;
  top: 60px;
  left: 15px;
  height: 640px;
  // border: 1px solid blue;
  z-index: 1500;
}

#legendWrapper {
  position: fixed;
  top: 60px;
  right: 15px;
  // z-index: 1500;
}

#chartsWrapper {
  background-color: $dark-gray;
  height: 300px;
  padding: 0;
}

#statsWrapper {
  background-color: $dark-gray;
  height: 300px;
  & #disclaimer {
    @include textlight(12px, $snow-white);
  }
}
