@import "../../styles.scss";

#mapWrapper {
  height: 700px; // Overwritten by DashboardComponent.resizeComponents()
}

#sliderWrapper {
  position: absolute;
  top: 6px;
  left: 15px;
  height: 640px; // Overwritten by DashboardComponent.resizeComponents()
  // border: 1px solid blue;
}

#chartsWrapper {
  background-color: $dark-gray;
  height: 300px;
  padding: 0;
}

#statsWrapper {
  background-color: $dark-gray;
  height: 300px;
}
