/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/roboto/css/fonts.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@angular/material/theming";

@include mat-core();

$dashboard-primary: mat-palette($mat-grey, 50);
$dashboard-accent:  mat-palette($mat-light-blue);
$dashboard-warn:    mat-palette($mat-deep-orange);
$dashboard-theme:   mat-dark-theme($dashboard-primary, $dashboard-accent, $dashboard-warn);

@include angular-material-theme($dashboard-theme);

.altTheme {
  $alt-theme-primary: mat-palette($mat-light-blue);
  $alt-theme-accent:  mat-palette($mat-light-blue);
  $alt-theme-light:   mat-light-theme($alt-theme-primary, $alt-theme-accent);

  @include angular-material-theme($alt-theme-light);
}

$dark-gray: mat-color($mat-grey, 800);
$steel-gray: mat-color($mat-grey, 600);
$medium-gray: mat-color($mat-grey, 400);;
$light-gray: mat-color($mat-grey, 200);
$snow-white: #ffffff;
$banjir-blue: mat-color($mat-light-blue, 500);
$bencana-red: #c1272d;

//_Font styles Variables_
@mixin textlight($var, $col) {
  font-family: "Roboto Light", "Roboto", "Open Sans";
  font-size: $var;
  color: $col;
}

@mixin textregular($var, $col) {
  font-family: "Roboto-regular", "Roboto", "Open Sans";
  font-size: $var;
  color: $col;
}

@mixin textmedium($var, $col) {
  font-family: "Roboto Medium", "Roboto", "Open Sans";
  font-size: $var;
  color: $col;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
