<div id="legendDiv">
  <p id="header">Legend</p>

  <table id="legend" class="mat-caption">
      <tr class="mat-caption">
        <td><span id="flood" style='color:#31aade'>●</span></td>
        <td> Flood report</td>
      </tr>
      <tr>
        <td class="square alert1"></td>
        <td> Alert Level 1</td>
      </tr>
      <tr>
        <td class="square alert2"></td>
        <td> Alert Level 2</td>
      </tr>
      <tr>
        <td class="square alert3"></td>
        <td> Alert Level 3</td>
      </tr>
      <tr>
        <td class="square alert4"></td>
        <td> Alert Level 4</td>
      </tr>
  </table>
</div>
