@import "../../../styles.scss";

#legendDiv {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius:6px;
  @include textregular(12px, $dark-gray);

  & #header {
    @include textmedium(14px, $dark-gray);
    border-bottom: solid 1px $light-gray;
    margin: 3px 0 6px 0;
  }

  & #legend {
    & tr {
      height: 20px;
      vertical-align: center;
    }
    #disaster {
      font-size: 20px;
    }
    & .square {
      border: 1px solid #ccc;
      float: left;
      width: 10px;
      height: 10px;
      margin-right: 8px;
      padding: 0;
      line-height: 18px;
      margin-top: 5px;
    }

    // alert colors
    & .alert1 { background-color: #a0a9f7; }
    & .alert2 { background-color: #ffff00; }
    & .alert3 { background-color: #ff8300; }
    & .alert4 { background-color: #cc2a41; }
  }
}
