<div id="legendDiv">
  <p id="header">{{ 'legend.title' | translate }}</p>

  <table id="legend" class="mat-caption">
      <tr class="mat-caption">
        <td><span id="flood" style='color:#31aade'>●</span></td>
        <td> {{ 'legend.report' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert1"></td>
        <td> {{ 'legend.level_1' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert2"></td>
        <td> {{ 'legend.level_2' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert3"></td>
        <td> {{ 'legend.level_3' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert4"></td>
        <td> {{ 'legend.level_4' | translate }}</td>
      </tr>
  </table>
</div>
