<div id="legendDiv">
  <p id="header">{{ 'legend.title' | translate }}</p>

  <table id="legend" class="mat-caption">
      <tr class="mat-caption">
        <td><span id="disaster" style='color:saddlebrown'>●</span></td>
        <td> {{ 'legend.earthquake' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="disaster" style='color:paleGreen'>●</span></td>
        <td> {{ 'legend.wind' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="disaster" style='color:slategrey'>●</span></td>
        <td> {{ 'legend.haze' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="disaster" style='color:darkorange'>●</span></td>
        <td> {{ 'legend.fire' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="disaster" style='color:red'>●</span></td>
        <td> {{ 'legend.volcano' | translate }}</td>
      </tr>
      <tr class="mat-caption">
        <td><span id="disaster" style='color:aqua'>●</span></td>
        <td> {{ 'legend.flood' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert1"></td>
        <td> {{ 'legend.level_1' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert2"></td>
        <td> {{ 'legend.level_2' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert3"></td>
        <td> {{ 'legend.level_3' | translate }}</td>
      </tr>
      <tr>
        <td class="square alert4"></td>
        <td> {{ 'legend.level_4' | translate }}</td>
      </tr>
  </table>
</div>
