@import '../../styles.scss';

#rainfallMap {
  position: absolute;
  width: 100%;
  height: 100%;
}

#rainSliderWrapper {
  position: absolute;
  top: 12px;
  left: 320px;
  margin: auto;
  z-index: 1000;

  & div {
    margin-top: 8px;
    color: $snow-white;
    float: left;
    cursor: pointer;
    outline: none;
    &:hover {
      color: $banjir-blue;
    }
  }

  & mat-slider {
    margin-top: -4px;
    width: 480px;
    float: left;
  }

  & #time{
    @include textlight(12px, $snow-white);
    margin-left: 10px;
  }
}
